backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
colorama==0.3.3
httpie==0.9.2
pgsanity==0.2.8
psutil==4.3.0
pyasn1==0.1.9
Pygments==2.0.2
pywin32==220
requests==2.8.1
rsa==3.4.2
selenium==2.53.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.2.1
unittest-xml-reporting==1.12.0
virtualenv==15.0.3
