{
    "states": [
        ["onboarding_opened",  ["page_title_is_pult.prop",
                                "onboarding_is_shown.prop",
                                "newtab_controls_default.prop",
                                "theme_default_grey.prop",
                                "switcher_dots_board_1_2boards.prop",
                                "search_bar_not_focused.prop",
                                "tiles_board_1_default.prop"]],

        ["onboarding_slide_2",  ["page_title_is_pult.prop",
                                 "onboarding_2_is_shown.prop",
                                 "newtab_controls_default.prop",
                                 "theme_default_grey.prop",
                                 "switcher_dots_board_1_2boards.prop",
                                 "search_bar_not_focused.prop",
                                 "tiles_board_1_default.prop"]],

        ["onboarding_slide_3",  ["page_title_is_pult.prop",
                                 "onboarding_3_is_shown.prop",
                                 "newtab_controls_default.prop",
                                 "theme_default_grey.prop",
                                 "switcher_dots_board_1_2boards.prop",
                                 "search_bar_not_focused.prop",
                                 "tiles_board_1_default.prop"]],

        ["default_board_1",     ["page_title_is_pult.prop",
                                 "newtab_controls_default.prop",
                                 "theme_default_grey.prop",
                                 "switcher_dots_board_1_2boards.prop",
                                 "search_bar_not_focused.prop",
                                 "tiles_board_1_default.prop"]],

        ["default_board_2",     ["page_title_is_pult.prop",
                                 "newtab_controls_default.prop",
                                 "theme_default_grey.prop",
                                 "switcher_dots_board_1_2boards.prop",
                                 "search_bar_not_focused.prop",
                                 "tiles_board_2_default.prop"]],

        ["switcher_area_left",  ["page_title_is_pult.prop",
                                 "switcher_area_left.prop",
                                 "newtab_controls_default.prop",
                                 "theme_default_grey.prop",
                                 "switcher_dots_board_1_2boards.prop",
                                 "search_bar_not_focused.prop",
                                 "tiles_board_1_default.prop"]],

        ["switcher_area_right",  ["page_title_is_pult.prop",
                                  "switcher_area_right.prop",
                                  "newtab_controls_default.prop",
                                  "theme_default_grey.prop",
                                  "switcher_dots_board_1_2boards.prop",
                                  "search_bar_not_focused.prop",
                                  "tiles_board_1_default.prop"]]
    ],
    "actions":[
        ["open_newtab_in_amigo",
        "open"],
        ["close_amigo",
        "close"],
        ["click_onboarding_next_button",
        "click //button[@class='onboarding-next-button']"],
        ["hover_left_switcher_area",
        "hover //div[contains(@class, 'switch-zone-clickable')][contains(@class, 'left')]"],
        ["hover_right_switcher_area",
        "hover //div[contains(@class, 'switch-zone-clickable')][contains(@class, 'right')]"],
        ["close_onboarding_click_freespace",
        "click //div[@class='middle']/aside[@class='sidebar']"],
        ["switch_to_board_2_by_right_area",
        "click //div[contains(@class, 'switch-zone-clickable')][contains(@class, 'right')]"]
    ],
    "tests": [
        {
            "name": "NewTabOnboarding_Deprecated",
            "traversal": [
                "open_newtab_in_amigo",
                "onboarding_opened",
                "click_onboarding_next_button",
                "onboarding_slide_2",
                "click_onboarding_next_button",
                "onboarding_slide_3",
                "click_onboarding_next_button",
                "default_board_1",
                "hover_left_switcher_area",
                "switcher_area_left",
                "hover_right_switcher_area",
                "switcher_area_right",
                "close_amigo"
            ]
        },
        {
            "name": "SwitchToSecondBoardBySwitcherAreaRight",
            "traversal": [
                "open_newtab_in_amigo",
                "default_board_1",
                "switch_to_board_2_by_right_area",
                "default_board_2",
                "close_amigo"
            ]
        }
    ]
}